a:hover {
    color: #F1F1F1;
}

#user-dropdown-button {
    height: 30px;
    width: 30px;
    background: url(/static/png/account-icon.png);
    border: none;
    align-self: center;
}

body {
    background-color: #DDDDDD;
    font-family: 'Roboto', sans-serif
}

.navbar {
    background-color: #585858;
}
.navbar-brand {
    align-self: center;
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.avg-rating-label {
    color:#9B9B9B;
    font-size:85%;
    margin-top: 20px;
    margin-bottom: 0px;
}


.item-card {
    border-radius: 10px;
    background-color: #F1F1F1;
    padding: 20px 12px;
    width: 200px;
}
.placeholder {
    background-color: #DDDDDD;
    cursor:pointer;
}
.item-card>a>.card-img-top {
    border: 2px #F1F1F1;
    border-radius: 10px;
    height: 160px;
    width: 165px;
    align-self: center;
}

.item-description {
    font-size: 12px;
}
.user-menu {
    display: none;
}

#user-menu {
    background-color: #F1F1F1;
    box-shadow: 0pt 3pt 6pt #00000029;
    margin-bottom: 38px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 34px 18px;
}

#user-menu > p {
    font-size: 18pt;
}

#user-list > li {
    color: #585858;
    border-bottom: 1px #DDDDDD;
}

div.usr-creation-form {
    height: 50px;
    display: inline-block;
}
input#username {
    height: 50px;
    vertical-align: bottom;
}

#usr-creation-btn {
    height: 50px;
    width: 50px;
    background: #585858 url('/static/png/arrow-icon.png') no-repeat center;
    vertical-align: bottom;
}

.itm-container {
    padding-top: 35px;
    display: grid;
    grid: auto / auto auto;
    gap: 30px;
    z-index: -1;
}

#itm-review-summary {
    width: 340px;
}

.itm-review-btn {
    border-radius: 18px;
    box-shadow: 0pt 2pt 2pt #00000029;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 36px;
    width: 340px;
}

.itm-review-btn>p {
    align-self: center;
    display: inline-block;
    vertical-align: middle;
}

#write-review {
    background-color: #585858;
    color: #FFFFFF;
}

#see-reviews {
    background-color: #F1F1F1;
    color: #585858;
}