.account-icon {
    margin-right: 30px;
    margin-top: 23px;
    margin-bottom: 22px;
}
.item-list {
    padding: 20px;
    background-color: #DDDDDD;
}

.items {
    width: 18em;
    margin: 5px;
}

.navbar {
    background-color: #585858;
}
p.navbar-title {
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 28px;
    margin-bottom: 25px;
}

.avg-rating-label {
    font-size:85%;
    margin-top: 20px;
    margin-bottom: 0px;
}

img.card-img-top {
    height: 160px;
    width: 160px;
}
