<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Code Homework</title>
        
        <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/custom.css') }}" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('home')}}">Rate Me</a>
                <button class="rounded-circle user-account-button" id="user-dropdown-button"></button>
            </div>
        </nav>
        <div class="user-menu" id="user-menu">
            <p>Username</p>
            <ul class="list-unstyled" id="user-list">
            {% for user in users %}
                <li><a href="">{{user.display_name}}</a></li>
            {% endfor %}
            </ul>
            <p>Add Username</p>
            
            <div class="usr-creation-form">
                <form><input type="text" id="username" name="username"><button id="usr-creation-btn" type="button" onclick="createUser()"></button></form>
            </div>
        </div>
        {% block body %}{% endblock %}
        
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    </body>
</html>