{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<nav class="navbar navbar-light bg-secondary">
  <div class="container-fluid">
    <h3 class="navbar-title">Rate Me</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropDown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{url_for('static', filename='png/account-icon.png') }}">
      </button>
      <ul class="dropdown-menu" aria-labelledby="userDropDown">
        {% for user in users %}
        <!-- href here should trigger a function to change the active user-->
        <li><a class="dropdown-item" href="">{{ user.display_name }}</a></li>
        {% endfor %}
      </ul> 
      <!--form of some sort to create new user: text field and button that executes init on User class -->
      <a class="btn btn-dark" data-bs-toggle="collapse" href="#createUserCollapse" role="button">Create New User</a>
      <div class="collapse" id="createUserCollapse">
        <div class="card card-body">
          <!-- Form box to enter name and button that executes create user function should go here-->
          <form>
            <p><label for="username">username:</label><input type="text" id="username" name="username"><button class="btn-dark" type="button" onclick="createUser()"><img src="{{url_for('static', filename='png/arrow-icon.png')}}"></button></p>
          </form>
        </div>
      </div>
    </div>  
  </div>
</nav>
<div class="container item-list">
  <div class="row row-cols-2">
    {% for item in items %}
    <div class="card items">
      <img src="{{item.image_src}}" class="card-img-top" alt="randomly selected image">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="avg-rating-label">Average Rating</p>
        {% for x in range(0,item.avg_rating) %}
        <img src="{{url_for('static', filename='png/star-fill-small-icon.png') }}" class="rating-star" id="rating-star-{{ x }}">
        {% endfor %}
        {% for x in range(0,5-item.avg_rating) %}
        <img src="{{url_for('static', filename='png/star-empty-small-icon.png') }}" class="rating-star" id="rating-star-{{ x }}">
        {% endfor %}
      </div>
    </div>
    {% endfor %}  
  </div>
  <button type="button" onclick="">Create New Item</button>
</div>
{% endblock %}
